<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        OA
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/home">
          Home
        </a>
  
        <a class="navbar-item">
          My Posts
        </a>
  
        
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <div>
                <button routerLink="/home/create-post" class="button is-outlined">+
                    Create Post</button>
            </div>
            <div class="navbar-item has-dropdown is-hoverable mb-2">
                <a class="navbar-link">
                  Welcome, Özge Alkan
                </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    Logout
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </nav>